<div class="container-fluid">

  <section id="slider-sec" class="slider-reg">
      <div class="main-flex-slider">
          <ul class="slides">
              <li>
                  <figure>
                    <%= image_tag("edificio.jpg", class:"img-fluid") %>
                      <figcaption class="slider-overlay ">
                          <div class="slider-text animated fadeInDown">
                              <h1>Easy customization theme</h1>
                              <p>
                                  Bizwrap theme comes with easy customization
                              </p>
                              <p class="slide-btn"><a href="#" class="btn btn-white btn-lg">Purchase Now</a></p>
                          </div>
                      </figcaption>
                  </figure>
              </li>
              <li>
                  <figure>
                      <img src="assets/img/img-2.jpg" class="img-fluid" alt="slider-img-1">
                      <figcaption class="slider-overlay">
                          <div class="slider-text">
                              <h1>clean and modern design</h1>
                              <p>
                                  Bizwrap is a Useful theme that you can use for your Business.
                              </p>
                              <p class="slide-btn"><a href="#" class="btn btn-white btn-lg">View Portfolio</a></p>
                          </div>
                      </figcaption>
                  </figure>
              </li>
              <li>
                  <figure>
                      <img src="assets/img/img-3.jpg" class="img-fluid" alt="slider-img-1">
                      <figcaption class="slider-overlay">
                          <div class="slider-text">
                              <h1>Perfect for Small Projects</h1>
                              <p>
                                  Bizwrap mainly design for small business projects.
                              </p>
                              <p class="slide-btn"><a href="#" class="btn btn-white btn-lg">Contact us</a></p>
                          </div>
                      </figcaption>
                  </figure>
              </li>
          </ul>
      </div>
  </section><!--main flex slider end-->

  <h1>“Hello World”</h1>
  <p>Hello World</p>

  <i class="fab fa-facebook-f fa-3x mx-2"></i>

</div>
