<div class="container-fluid">

  <%= image_tag("edificio.jpg", class:"img-fluid") %>
  <h1>“Hello World”</h1>
  <p>Hello World</p>
  <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
    Tooltip on top
  </button>

  <i class="fab fa-facebook-f fa-3x mx-2"></i>

</div>
