<!DOCTYPE html>
    <body>
        <section id="slider-sec">
            <div class="main-flex-slider">
                <ul class="intellcob">
                    <li>
                        <figure>
                            <!%= image_tag("edificio.jpg", class:"img-fluid") %>
                            <figcaption class="slider-overlay">
                                <div class="slider-text";>
                                    <h1>Eficiencia, Confianza y Credibilidad</h1>
                                    <h4>
Somos una empresa que tiene como principios fundamentales la eficiencia, confianza y credibilidad.
A través de éstos, nuestro servicio de recuperación de activos es personalizado y diferenciado de acuerdo a las exigencias y necesidades de cada uno de nuestros clientes.
                                    </h4>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </section><!--main flex slider end-->
        <div class="space-50"></div>
        <div class="container">
            <div class="row intro-row">
                <div class="space-70"></div>
                <div class=" col-md-4">
                    <div class="services-box">
                        <i class="ion-laptop"></i>
                        <h1>COBRANZA PREJUDICIAL</h1>
                        <p>
                          Servicio orientado a recuperar las carteras morosas mediante procedimientos ágiles, eficientes y efectivos.
                        </p>
                    </div>
                </div><!--services box-->
                <div class=" col-md-4">
                    <div class="services-box">
                        <i class="ion-ios-color-wand-outline"></i>
                        <h1>COBRANZA JUDICIAL</h1>
                        <p>
                            Al no prosperar las acciones prejudiciales, contamos con un equipo de abogados expertos en el procedimiento
                            y el ejercicio de acciones legales que cada caso requiere.
                        </p>
                    </div>
                </div><!--services box-->
                <div class="col-md-4">
                    <div class="services-box">
                        <i class="ion-social-twitter-outline"></i>
                        <h1>COBRANZA ADMINISTRATIVA</h1>
                        <p>
                          Gestionamos el cobro ágil y preventivo de todos tus documentos que esten por vencer, tales como cheques, facturas, entre otros.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--row end-->
        </div><!--intro with services end-->
        <div class="space-70"></div>
        <section id="content-region-1" class="padding-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h3>Una Solución a tus problemas</h3>
                        <p>
                          La recuperación de activos supone mayor eficiencia y certidumbre en cuestiones operacionales al ser gestionadas por un ente especializado como lo es IntellCob.
                          <ul>
                            <li>Te aseguramos la viabilidad de recuperación</li>
                            <li>Le otorgamos mayor liquides a tu empresa</li>
                            <li>Es una forma de financiamiento flexible y accesible</li>
                            <li>Te otorga una sistematización de la información de tus deudores</li>
                            <li>Nos comprometemos con brindarte personas calificadas para resolver tus problemas de cobro,  haciendo las veces de mediadores entre las parte</li>
                            <li>Tu como empresa puedes reducir los costos operacionales</li>
                            <li>Y lo mas importante, respondemos a tus necesidades financieras. comprometiéndonos a lograr el mejor resultado</li>
                          </ul>
                        </p>
                      </div>
                        <div class="col-md-5">
                            <div class="space-70"></div>
                            <%= image_tag("money.jpg", class:"img-fluid") %>
                        </div>

                </div>

            </div><!--container-->
        </section><!--features end-->
        <div class="space-50"></div>
        <div class="cta-bg">
            <div class="container text-center">
                <h3>No se si quieres poner algo aca
                </h3>
            </div>
        </div>
        <!--footer-->
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 margin-btm-20">
                        <div class="space-20"></div>
                        <div class="footer-col">
                            <h3>Información de contacto</h3>
                            <p><i class="ion-home"></i> pearl tower,3rd floor,jaipur,302012</p>
                            <p><i class="ion-iphone"></i> +91 9887568614</p>
                            <p><i class="ion-email"></i> mail@domain.com</p>
                        </div>
                        </div>
                        <div class="col-md-4 margin-btm-20">
                        <div class="space-20"></div>
                        <div class="footer-col">
                            <h3>Síguenos</h3>
                            <ul class=" list-inline social-btn">
                                <li class="list-inline-item"><a href="#"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="ion-social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="pinterest"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="ion-social-skype" data-toggle="tooltip" data-placement="top" title="" data-original-title="skype"></i></a></li>
                            </ul>
                        </div><!--footer social col-->
                    </div><!--col-4 end-->
                    <div class="col-md-4">
                      <div class="space-20"></div>
                        <div class="footer-col"> 
                            <h3>Contáctanos</h3>
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Nombre...">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" class="form-control" placeholder="Email...">
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Asunto...">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control" placeholder="Mensaje..." rows="7"></textarea>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button type="submit" class="btn btn-lg btn-white">Enviar Mensaje</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!--get in touch col end-->
                </div><!--footer main row end-->
                <div class="space-70"></div>
                <div class="row">
                    <div class="col-md-12 text-center footer-bottom">
                        <div class="space-20"></div>
                        <span>&copy;2019. Diseñado por unduslabs</span>
                    </div>
                </div><!--footer copyright row end-->
            </div><!--container-->
        </div><!--footer main end-->
        <!--back to top-->
        <a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
    </body>
