<div class="container-fluid">

  <section id="slider-sec" class="slider-reg">
      <div class="main-flex-slider">
          <ul class="slides">
              <li>
                  <figure>
                    <%= image_tag("edificio.jpg", class:"img-fluid") %>
                      <figcaption class="slider-overlay ">
                          <div class="slider-text ">
                              <h1>Easy customization theme</h1>
                              <p>
                                  Bizwrap theme comes with easy customization
                              </p>
                          </div>
                      </figcaption>
                  </figure>
              </li>
          </ul>
      </div>
  </section><!--main flex slider end-->

  <h1>“Hello World”</h1>
  <p>Hello World</p>

  <i class="fab fa-gavel-f fa-3x mx-2"></i>

</div>
