<nav class="navbar navbar-toggleable-sm navbar-light fixed-top bg-faded search-header">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="index.html"><%= image_tag("logo.png", width:"30", height:"30", class:"img-fluid") %></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto smooth-scroll">
                <li class="nav-item"><a class="nav-link" href="#index"><i class="ion-home"></i> Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#about"><i class="ion-person-stalker"></i> About</a></li>
                <li class="nav-item"><a class="nav-link" href="#work"><i class="ion-images"></i> Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="#services"><i class="ion-settings"></i> Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact"><i class="ion-android-call"></i> Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="#login"><i class="ion-android-lock"></i> Login</a></li>
            </ul>
        </div>
    </div>
</nav><!--nav end-->
